@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="tm-paging-links">
    <nav>
        <ul>
            <li class="tm-paging-item"><a href="#" class="tm-paging-link active">Tümü</a></li>
            <li class="tm-paging-item"><a href="#" class="tm-paging-link">Kategori</a></li>

        </ul>
    </nav>
</div>
<div class="row tm-gallery">
    <div id="tm-gallery-page-tümü" class="tm-gallery-page">
        <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
            <div class="card" style="width: 15rem;">
                <img src="~/productimg/01.jpg" class="card-img-top img-fluid tm-gallery-img" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <p class="tm-gallery-price">@*@String.Format(new System.Globalization.CultureInfo("tr-TR"), "{0:c2}", item.Fiyat)*@9444₺</p>
                    <a href="#" class="btn btn-primary">Incele</a> -  <a href="#" class="btn btn-info text-white">Sepete Ekle</a>
                </div>
            </div>
        </article>
    </div>
    <div id="tm-gallery-page-kategori" class="tm-gallery-page hidden">
        <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
            <div class="card" style="width: 15rem;">
                <img src="~/productimg/02.jpg" class="card-img-top img-fluid tm-gallery-img" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <p class="tm-gallery-price">@*@String.Format(new System.Globalization.CultureInfo("tr-TR"), "{0:c2}", item.Fiyat)*@9444₺</p>
                    <a href="#" class="btn btn-primary">Incele</a> -  <a href="#" class="btn btn-info text-white">Sepete Ekle</a>
                </div>
            </div>
        </article>
    </div>
</div>