  <div class="row">
        <div class="col-12">
            <div class="alert alert-success text-center">
                <h4>Sayın, <b>@ViewBag.FullName</b>. Alışverişiniz başarıyla tamamlandı!</h4>
            </div>
        </div>
    </div>